In [10]:
import pandas as pd
profiles = pd.read_pickle("data/profiles.pkl")

In [22]:
import matplotlib.pyplot as plt

# Identificando o perfil de consumo dos otakus

## Overview dos perfis

*Usando um recorte aleatório de dados cedidos pela [myanimelist.net](https://myanimelist.net/).

Cerca de 57% das observações foram removidas por ausência de dados, mas ainda temos uma amostra de mas de 20 mil perfis de usuários.

       gender   link
0      Female   5502
1        Male  13578
2  Non-Binary    243

In [25]:
temp = profiles.groupby("gender")["link"].count().reset_index()
plt.bar

<function matplotlib.pyplot.bar(x: 'float | ArrayLike', height: 'float | ArrayLike', width: 'float | ArrayLike' = 0.8, bottom: 'float | ArrayLike | None' = None, *, align: "Literal['center', 'edge']" = 'center', data=None, **kwargs) -> 'BarContainer'>